@font-face {
	font-family: 'Pacifico';
	src: url('/fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSans';
	src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
}
